Repository rknightion/autopi-ha, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, sensor, config-flow, coordinator, events, constants, manifest, documentation, test, ci, dependencies, hacs, config, build

Implement initial AutoPi Home Assistant integration
  CLAUDE.md
  custom_components/autopi/CLAUDE.md
  custom_components/autopi/__init__.py
  custom_components/autopi/binary_sensor.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/device_tracker.py
  custom_components/autopi/entities/CLAUDE.md
  custom_components/autopi/entities/__init__.py
  custom_components/autopi/entities/base.py
  custom_components/autopi/exceptions.py
  custom_components/autopi/manifest.json
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/types.py
  pyproject.toml
  todo.txt
  uv.lock
Labels: integration, sensor, config-flow, coordinator, constants, manifest, documentation, dependencies, config, build

Add pre-commit hooks and code quality tools
  .pre-commit-config.yaml
  .safety-project.ini
  custom_components/autopi/CLAUDE.md
  custom_components/autopi/__init__.py
  custom_components/autopi/binary_sensor.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/device_tracker.py
  custom_components/autopi/entities/CLAUDE.md
  custom_components/autopi/entities/__init__.py
  custom_components/autopi/entities/base.py
  custom_components/autopi/exceptions.py
  custom_components/autopi/manifest.json
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/types.py
  tests/__init__.py
  tests/__pycache__/__init__.cpython-313.pyc
  tests/test_init.py
Labels: integration, sensor, config-flow, coordinator, constants, manifest, documentation, test, ci, build

ci: enhance GitHub Actions security and variable handling
  .github/workflows/bandit.yml
  .github/workflows/cleanup-draft-releases.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/manual-changelog-update.yml
  .github/workflows/summary.yml
  .github/workflows/tests.yml
  .github/workflows/update-version.yml
  .github/workflows/zizmor.yml
  .pre-commit-config.yaml
Labels: integration, ci, build

chore: change project license from MIT to Apache-2.0
  LICENSE
  pyproject.toml
Labels: integration, dependencies, config, build

fix: update authentication method from Bearer to APIToken
  CLAUDE.md
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
Labels: integration, sensor, config-flow, coordinator, documentation

fix: improve GitHub workflows for authentication and reliability
  .github/workflows/manual-changelog-update.yml
  .github/workflows/update-version.yml
Labels: integration, ci

fix: name
  .github/workflows/update-version.yml
  .pre-commit-config.yaml
  todo.txt
Labels: integration, ci, build

feat: Add API key update functionality to options flow
  .github/workflows/tests.yml
  custom_components/autopi/config_flow.py
  custom_components/autopi/strings.json
Labels: integration, config-flow, ci

feat: add error and abort messages to AutoPi strings
  custom_components/autopi/translations/en.json
Labels: integration

Add AutoPi API documentation for Home Assistant integration
  API calls analysis 2.md
  API calls analysis.pdf
  autopi-api-combined.md
Labels: integration, documentation

Add vehicle position tracking with tiered update intervals
  custom_components/autopi/__init__.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/device_tracker.py
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/types.py
  uv.lock
Labels: integration, sensor, config-flow, coordinator, constants, dependencies

chore: docs
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  docs/api-optimization.md
  docs/changelog.md
  docs/configuration.md
  docs/contributing.md
  docs/development.md
  docs/entities.md
  docs/faq.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/naming-conventions.md
  docs/vehicle-data.md
  mkdocs.yml
  pyproject.toml
  scripts/generate_docs.py
Labels: integration, documentation, ci, dependencies, config, build

docs: fix documentation links and update Cloudflare deployment
  docs/404.md
  docs/index.md
  mkdocs.yml
  wrangler.toml
Labels: integration, documentation

refactor: replace position API with data fields API for richer vehicle metrics
  autopi-api-combined.md
  custom_components/autopi/__init__.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/device_tracker.py
  custom_components/autopi/position_sensors.py
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/types.py
  scripts/generate_docs.py
  tests/__pycache__/test_coordinator.cpython-313-pytest-8.4.0.pyc
  tests/test_client.py
  tests/test_coordinator.py
  tests/test_data_field_sensors.py
  tests/test_device_tracker.py
  tests/test_position_sensors.py
Labels: integration, sensor, config-flow, coordinator, constants, documentation, test

fix: improve git commit handling and code formatting
  .github/workflows/generate-release-notes.yml
  custom_components/autopi/__init__.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/position_sensors.py
  custom_components/autopi/sensor.py
  tests/__pycache__/test_coordinator.cpython-313-pytest-8.4.0.pyc
  tests/test_client.py
  tests/test_coordinator.py
  tests/test_data_field_sensors.py
  tests/test_device_tracker.py
  tests/test_init.py
  tests/test_position_sensors.py
Labels: integration, sensor, config-flow, coordinator, test, ci

fix: improve versioning logic and remove redundant UI text
  .github/workflows/generate-release-notes.yml
  custom_components/autopi/strings.json
Labels: integration, config-flow, ci

chore: update version to 0.2.0 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

add logo
  docs/images/logo.png
Labels: integration, documentation

Update README.md
  README.md
Labels: integration, documentation

Add trip tracking functionality to AutoPi integration
  custom_components/autopi/__init__.py
  custom_components/autopi/client.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/types.py
  tests/test_api_tracking.py
  tests/test_trips.py
Labels: integration, sensor, config-flow, coordinator, constants, test

Add fleet alerts and device events functionality
  custom_components/autopi/__init__.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/event.py
  custom_components/autopi/manifest.json
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/types.py
  tests/__pycache__/test_events.cpython-313-pytest-8.4.0.pyc
  tests/test_alerts.py
  tests/test_api_tracking.py
  tests/test_events.py
  tests/test_trips.py
Labels: integration, sensor, config-flow, coordinator, constants, manifest, test

chore: update version to 0.2.1 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

feat: firing events on startup to avoid replaying old events
  custom_components/autopi/coordinator.py
  custom_components/autopi/sensor.py
  tests/test_events.py
Labels: integration, sensor, coordinator, test

chore: update version to 0.3.0 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

enhance(autopi): improve event handling and categorization
  custom_components/autopi/event.py
  tests/__pycache__/test_events.cpython-313-pytest-8.4.0.pyc
  tests/test_events.py
Labels: integration, test

fix: improve error handling and trip parsing resilience
  custom_components/autopi/client.py
  custom_components/autopi/event.py
  custom_components/autopi/manifest.json
  custom_components/autopi/types.py
  pyproject.toml
  scripts/fetch_all_events.py
  tests/__pycache__/test_events.cpython-313-pytest-8.4.0.pyc
  tests/test_api_tracking.py
  tests/test_trip_parsing.py
Labels: integration, manifest, test, dependencies, config, build

fix: handle None values in trip end positions
  custom_components/autopi/types.py
  tests/test_trip_parsing.py
Labels: integration, test

chore(deps): downgrade homeassistant-stubs and update pymdown-extensions
  pyproject.toml
  uv.lock
Labels: integration, dependencies, config, build

chore: update version to 0.3.1 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

fix: update GSM signal scaling from 0-31 to 1-5 range
  custom_components/autopi/data_field_sensors.py
  tests/test_data_field_sensors.py
Labels: integration, test

chore: update version to 0.3.2 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

chore: update project name and custom domain pattern
  wrangler.toml
Labels: integration

ci: add workflow to trigger documentation sync
  .github/workflows/trigger-docs-sync.yml
Labels: integration, ci

docs: update
  docs/entities.md
Labels: integration, documentation

docs: expand entity documentation with comprehensive sensor categories
  docs/entities.md
  scripts/generate_docs.py
Labels: integration, documentation

chore: trigger build
  custom_components/autopi/manifest.json
  docs/contributing.md
Labels: integration, manifest, documentation

chore: trigger build
  docs/contributing.md
Labels: integration, documentation

fix route
  docs/contributing.md
  wrangler.toml
Labels: integration, documentation

add www route
  wrangler.toml
Labels: integration

use redirects not routes
  wrangler.toml
Labels: integration

.github/labeler.yml:

# Configuration for the PR labeler
# https://github.com/actions/labeler

# Core integration files
integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/**'
      - '!custom_components/autopi/README.md'

# Sensor platform
sensor:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/sensor.py'
      - 'custom_components/autopi/binary_sensor.py'

# Configuration flow
config-flow:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/config_flow.py'
      - 'custom_components/autopi/strings.json'

# Core coordinator and hub
coordinator:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/coordinator.py'
      - 'custom_components/autopi/__init__.py'

# Events and buttons
events:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/events.py'
      - 'custom_components/autopi/button.py'

# Constants and utilities
constants:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/const.py'
      - 'custom_components/autopi/utils.py'

# Manifest and metadata
manifest:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/manifest.json'
      - 'custom_components/autopi/icons.json'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - 'README.md'
      - 'CHANGELOG.md'

# Tests
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - 'conftest.py'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'uv.lock'
      - 'requirements*.txt'

# HACS
hacs:
  - changed-files:
    - any-glob-to-any-file:
      - 'hacs.json'

# Configuration files
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.gitignore'
      - 'pyproject.toml'

# Build and development
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.pre-commit-config.yaml'
      - 'pyproject.toml'
