Repository rknightion/autopi-ha, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, sensor, config-flow, coordinator, events, constants, manifest, documentation, test, ci, dependencies, hacs, config, build

ci(security): drop unused id-token: write from issue-triage
  .github/workflows/issue-triage.yml
Labels: integration, ci

ci(security): replace LLM issue-triage with deterministic labeler
  .github/workflows/issue-triage.yml
Labels: integration, ci

ci: hybrid issue-triage (no-tools AI analysis + deterministic apply)
  .github/workflows/issue-triage.yml
Labels: integration, ci

ci: fix Renovate automerge stall + add required ci-success gate
  .github/workflows/tests.yml
  renovate.json
Labels: integration, ci

ci: scope ci-success to lint+test legs
  .github/workflows/tests.yml
Labels: integration, ci

ci: gate ci-success on hassfest + hacs
  .github/workflows/tests.yml
  custom_components/autopi/strings.json
  custom_components/autopi/translations/en.json
Labels: integration, config-flow, ci

build: require Python 3.14 to match Home Assistant
  .github/workflows/tests.yml
  pyproject.toml
  renovate.json
  uv.lock
Labels: integration, ci, dependencies, config, build

style: apply ruff formatting for the py314 target
  custom_components/autopi/client.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/sensor.py
  custom_components/autopi/types.py
  tests/conftest.py
  tests/test_binary_sensor_new.py
  tests/test_client.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_data_field_sensors.py
  tests/test_device_tracker.py
  tests/test_events.py
  tests/test_init.py
  tests/test_options_flow.py
  tests/test_position_sensors.py
  tests/test_sensor_new.py
  tests/test_trip_parsing.py
Labels: integration, sensor, coordinator, test

chore(renovate): use matchFileNames for release-please guard (matchPaths is removed/inert)
  renovate.json
Labels: integration

chore(renovate): slim to repo-specific overrides
  renovate.json
Labels: integration

ci: adopt shared rknightion/.github reusable security workflows
  .github/workflows/actionlint.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/zizmor.yml
Labels: integration, ci

ci: resolve actionlint/shellcheck + zizmor workflow findings
  .github/workflows/release-please.yml
Labels: integration, ci

ci: reference rknightion/.github reusables @main (unpin from digest)
  .github/workflows/actionlint.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/zizmor.yml
Labels: integration, ci

ci: auto-assign maintainer on new issues (notify by email)
  .github/workflows/notify-new-issue.yml
Labels: integration, ci

ci: open the release-please PR under a PAT so CI runs without manual approval
  .github/workflows/release-please.yml
Labels: integration, ci

ci: wire Codacy coverage upload and add repo-local file exclusions
  .codacy.yaml
  .github/workflows/tests.yml
Labels: integration, ci

ci: pin shared rknightion reusables to v1.0.0
  .github/workflows/actionlint.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/zizmor.yml
Labels: integration, ci

ci: bump shared rknightion reusables to v1.3.1
  .github/workflows/actionlint.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/zizmor.yml
Labels: integration, ci

chore: release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/autopi/manifest.json
Labels: integration, manifest, documentation

ci: remove notify-maintainer-on-new-issue workflow
  .github/workflows/notify-new-issue.yml
Labels: integration, ci

ci: remove claude issue-triage workflow
  .github/workflows/issue-triage.yml
Labels: integration, ci

ci: drop CodeQL pull_request trigger to trim Actions fan-out
  .github/workflows/codeql.yml
Labels: integration, ci

ci: add OpenSSF Scorecard via shared reusable workflow
  .github/workflows/scorecard.yml
  .github/workflows/scorecards.yml
  README.md
Labels: integration, documentation, ci

feat(docs): align docs site with m7kni.io brand + server-side SEO/LLM metadata
  docs/javascripts/seo.js
  docs/overrides/main.html
  docs/stylesheets/brand.css
  zensical.toml
Labels: integration, documentation

docs(geo): content-shape pass for LLM/search retrievability
  docs/api-optimization.md
  docs/auto-zero-metrics.md
  docs/configuration.md
  docs/contributing.md
  docs/debug-auto-zero.md
  docs/development.md
  docs/entities.md
  docs/faq.md
  docs/installation.md
  docs/naming-conventions.md
Labels: integration, documentation

docs(assets): replace the social card with one for this project
  docs/assets/social-card.png
  docs/assets/social-card.svg
Labels: integration, documentation

chore: release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/autopi/manifest.json
Labels: integration, manifest, documentation

feat: mint release-please token from the OpenBao broker
  .github/workflows/release-please.yml
Labels: integration, ci

feat: mint the docs-sync token from the OpenBao broker
  .github/workflows/trigger-docs-sync.yml
Labels: integration, ci

fix: pass the JWT role explicitly for docs-sync
  .github/workflows/trigger-docs-sync.yml
Labels: integration, ci

ev fields
  custom_components/autopi/data_field_sensors.py
  tests/test_data_field_sensors.py
Labels: integration, test

feat: add EV high-voltage battery sensors (#377)
  custom_components/autopi/data_field_sensors.py
  tests/test_data_field_sensors.py
Labels: integration, test

fix: correct EV HV battery device classes and document unit assumptions
  custom_components/autopi/data_field_sensors.py
  docs/entities.md
  tests/test_data_field_sensors.py
Labels: integration, documentation, test

refactor: declare odometer and GSM signal units instead of overriding them
  custom_components/autopi/data_field_sensors.py
  tests/test_data_field_sensors.py
Labels: integration, test

docs: adopt the m7kni.io inverted docs model
  .github/workflows/trigger-docs-sync.yml
  docs.toml
  docs/overrides/main.html
  docs/stylesheets/brand.css
  docs/stylesheets/project.css
  zensical.toml
Labels: integration, documentation, ci

docs: fix broken internal links
  docs/404.md
  docs/changelog.md
Labels: integration, documentation

docs: drop the unused MathJax and ES6 polyfill CDN scripts
  docs.toml
  docs/javascripts/mathjax.js
Labels: integration, documentation

chore: gitignore the build artifacts the hub injects
  .gitignore
Labels: integration, config

docs: add troubleshooting, security and comparison pages
  docs.toml
  docs/comparison.md
  docs/security.md
  docs/troubleshooting.md
Labels: integration, documentation

feat(docs): take the fleet project icon for the site logo and favicon
  .gitignore
  docs.toml
Labels: integration, config

.github/labeler.yml:

# Configuration for the PR labeler
# https://github.com/actions/labeler

# Core integration files
integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/**'
      - '!custom_components/autopi/README.md'

# Sensor platform
sensor:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/sensor.py'
      - 'custom_components/autopi/binary_sensor.py'

# Configuration flow
config-flow:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/config_flow.py'
      - 'custom_components/autopi/strings.json'

# Core coordinator and hub
coordinator:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/coordinator.py'
      - 'custom_components/autopi/__init__.py'

# Events and buttons
events:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/events.py'
      - 'custom_components/autopi/button.py'

# Constants and utilities
constants:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/const.py'
      - 'custom_components/autopi/utils.py'

# Manifest and metadata
manifest:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/manifest.json'
      - 'custom_components/autopi/icons.json'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - 'README.md'
      - 'CHANGELOG.md'

# Tests
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - 'conftest.py'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'uv.lock'
      - 'requirements*.txt'

# HACS
hacs:
  - changed-files:
    - any-glob-to-any-file:
      - 'hacs.json'

# Configuration files
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.gitignore'
      - 'pyproject.toml'

# Build and development
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.pre-commit-config.yaml'
      - 'pyproject.toml'
