Repository rknightion/autopi-ha, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, sensor, config-flow, coordinator, events, constants, manifest, documentation, test, ci, dependencies, hacs, config, build

feat(docs): take the fleet-generated social card
  .gitignore
  docs/assets/social-card.png
  docs/assets/social-card.svg
Labels: integration, documentation, config

docs: state one minimum Home Assistant version, not three
  README.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
Labels: integration, documentation

docs: put a copy-paste quickstart on the landing page
  docs/index.md
Labels: integration, documentation

fix: author is Rob Knight, not Rob Knighton
  docs.toml
Labels: integration

chore: adopt Backlog.md as the tracker and the agent fan-out operating model
  .claude/hooks/backlog-guard.py
  .claude/hooks/backlog-guard_test.py
  .claude/settings.json
  .gitignore
  AGENTS.md
  CLAUDE.md
  backlog/config.yml
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
  backlog/docs/doc-0002 - Wave-operating-model.md
  backlog/docs/doc-0003 - Closed-GitHub-issues-index-pre-tracker.md
  todos.txt
Labels: integration, documentation, config

chore: exempt the agent hook dir from ruff
  pyproject.toml
Labels: integration, dependencies, config, build

chore: drop the per-repo Backlog.md guard, now global in the agent config
  .claude/hooks/backlog-guard.py
  .claude/hooks/backlog-guard_test.py
  .claude/settings.json
  .gitignore
  AGENTS.md
Labels: integration, documentation, config

docs: re-import fan-out protocol (context-cost rules)
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs(tracker): align canonical fan-out protocol
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs(tracker): re-import the fan-out protocol from canonical
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs(tracker): normalise the closed-issues doc title
  backlog/docs/doc-0003 - Closed-GitHub-issues-pre-Backlog-history-index.md
Labels: integration, documentation

docs(tracker): render agent documents from the canonical source
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs(tracker): correct the canonical owner in the rendered header
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs: re-render the fan-out protocol from agent-docs
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs: re-render the fan-out protocol from agent-docs b0d76d8
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs: re-render the fan-out protocol from agent-docs 711db6c
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

ci: docs-sync and grafana-sync targets moved to the m7kni org
  .github/workflows/trigger-docs-sync.yml
Labels: integration, ci

ci: add arm-automerge
  .github/workflows/arm-automerge.yml
Labels: integration, ci

ci: repin the release-automation reusables to v1.8.0
  .github/workflows/arm-automerge.yml
Labels: integration, ci

docs: improve search result descriptions
  docs/api-optimization.md
  docs/contributing.md
  docs/getting-started.md
  docs/naming-conventions.md
Labels: integration, documentation

ci: bump the broker-token action pin
  .github/workflows/release-please.yml
  .github/workflows/trigger-docs-sync.yml
Labels: integration, ci

chore(backlog): add APH-0001 — migrate the repo task surface to just
  backlog/tasks/aph-0001 - Migrate-the-repo-task-surface-to-just-and-retire-Makefiles-and-ad-hoc-scripts.md
Labels: integration, documentation

docs(backlog): sync fan-out protocol — CodeRabbit review gate
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

docs(backlog): sync fan-out protocol — success criteria vs write authority
  backlog/docs/doc-0001 - Agent-fan-out-protocol-canonical.md
Labels: integration, documentation

chore(backlog): wire the fleet migration ordering into this task
  backlog/tasks/aph-0001 - Migrate-the-repo-task-surface-to-just-and-retire-Makefiles-and-ad-hoc-scripts.md
Labels: integration, documentation

ci: tune bandit.yml — CI concurrency hygiene
  .github/workflows/bandit.yml
Labels: integration, ci

ci: tune tests.yml — CI concurrency hygiene
  .github/workflows/tests.yml
Labels: integration, ci

chore(backlog): ratify ci as the sanctioned superset of check
  backlog/tasks/aph-0001 - Migrate-the-repo-task-surface-to-just-and-retire-Makefiles-and-ad-hoc-scripts.md
Labels: integration, documentation

.github/labeler.yml:

# Configuration for the PR labeler
# https://github.com/actions/labeler

# Core integration files
integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/**'
      - '!custom_components/autopi/README.md'

# Sensor platform
sensor:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/sensor.py'
      - 'custom_components/autopi/binary_sensor.py'

# Configuration flow
config-flow:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/config_flow.py'
      - 'custom_components/autopi/strings.json'

# Core coordinator and hub
coordinator:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/coordinator.py'
      - 'custom_components/autopi/__init__.py'

# Events and buttons
events:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/events.py'
      - 'custom_components/autopi/button.py'

# Constants and utilities
constants:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/const.py'
      - 'custom_components/autopi/utils.py'

# Manifest and metadata
manifest:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/manifest.json'
      - 'custom_components/autopi/icons.json'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - 'README.md'
      - 'CHANGELOG.md'

# Tests
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - 'conftest.py'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'uv.lock'
      - 'requirements*.txt'

# HACS
hacs:
  - changed-files:
    - any-glob-to-any-file:
      - 'hacs.json'

# Configuration files
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.gitignore'
      - 'pyproject.toml'

# Build and development
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.pre-commit-config.yaml'
      - 'pyproject.toml'
