Repository rknightion/autopi-ha, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, sensor, config-flow, coordinator, events, constants, manifest, documentation, test, ci, dependencies, hacs, config, build

handle base route
  wrangler.toml
Labels: integration

fix mkdocs site URL
  mkdocs.yml
Labels: integration

fix missing /
  mkdocs.yml
Labels: integration

trigger pipeline
  wrangler.toml
Labels: integration

fix
  wrangler.toml
Labels: integration

build
  wrangler.toml
Labels: integration

feat: add event types for vehicle events
  custom_components/autopi/strings.json
Labels: integration, config-flow

Add auto-zero functionality for stale vehicle metrics
  custom_components/autopi/auto_zero.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/strings.json
  docs/auto-zero-metrics.md
  scripts/generate_docs.py
Labels: integration, config-flow, coordinator, constants, documentation

fix(auto-zero): implement comprehensive error handling and logging
  custom_components/autopi/auto_zero.py
  custom_components/autopi/client.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/event.py
  custom_components/autopi/sensor.py
Labels: integration, sensor, coordinator

feat(auto-zero): add state persistence for zeroed metrics
  custom_components/autopi/__init__.py
  custom_components/autopi/auto_zero.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/position_sensors.py
  docs/auto-zero-metrics.md
Labels: integration, coordinator, documentation

refactor: split AutoPiDataFieldSensor for better auto-zero support
  custom_components/autopi/auto_zero.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/position_sensors.py
  custom_components/autopi/sensor.py
  tests/test_init.py
  tests/test_trip_parsing.py
Labels: integration, sensor, config-flow, coordinator, test

refactor: simplify update interval configuration to use single unified interval
  .pre-commit-config.yaml
  CHANGELOG.md
  custom_components/autopi/__init__.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/event.py
  custom_components/autopi/manifest.json
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/translations/en.json
  docs/auto-zero-metrics.md
  docs/configuration.md
  docs/entities.md
  pyproject.toml
  scripts/generate_docs.py
  tests/__pycache__/test_coordinator.cpython-313-pytest-8.4.0.pyc
  tests/test_coordinator.py
  tests/test_trip_parsing.py
Labels: integration, sensor, config-flow, coordinator, constants, manifest, documentation, test, ci, dependencies, config, build

chore: update version to 0.4.0 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

Revert "Merge remote-tracking branch 'origin/renovate/aiohttp-3.x'"
  pyproject.toml
Labels: integration, dependencies, config, build

chore: deps
  uv.lock
Labels: integration, dependencies

refactor: remove event type definitions from string files
  custom_components/autopi/strings.json
  custom_components/autopi/translations/en.json
Labels: integration, config-flow

refactor(auto-zero): simplify stale data detection mechanism
  custom_components/autopi/__init__.py
  custom_components/autopi/auto_zero.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/manifest.json
  custom_components/autopi/sensor.py
  custom_components/autopi/strings.json
  custom_components/autopi/translations/en.json
  docs/auto-zero-metrics.md
  docs/configuration.md
  docs/getting-started.md
  scripts/generate_docs.py
  tests/__pycache__/test_events.cpython-313-pytest-8.4.0.pyc
Labels: integration, sensor, config-flow, coordinator, constants, manifest, documentation, test

feat(logging): enhance auto-zero debugging capabilities
  custom_components/autopi/__init__.py
  custom_components/autopi/auto_zero.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/sensor.py
  docs/debug-auto-zero.md
Labels: integration, sensor, coordinator, documentation

chore: remove broken test
  .pre-commit-config.yaml
  tests/test_api_tracking.py
Labels: integration, test, ci, build

chore: update version to 0.5.0 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

add robots
  docs/robots.txt
Labels: integration, documentation

feat(discovery): implement automatic vehicle discovery
  API calls analysis 2.md
  API calls analysis.pdf
  custom_components/autopi/config_flow.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/strings.json
  docs/entities.md
  pyproject.toml
  scripts/fetch_all_events.py
  scripts/generate_docs.py
Labels: integration, config-flow, coordinator, constants, documentation, dependencies, config, build

chore: update version to 0.6.0 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

feat(autopi): add auto-removal of deleted vehicles
  custom_components/autopi/coordinator.py
Labels: integration, coordinator

chore: update version to 0.7.0 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

fix: units of measturement
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/sensor.py
Labels: integration, sensor, coordinator

docs
  docs/entities.md
Labels: integration, documentation

chore: update version to 0.7.1 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

prepare for hacs submission
  .github/workflows/tests.yml
Labels: integration, ci

update pr automerge
  .github/workflows/dependabot-prs.yml
Labels: integration, ci

migrate fully to renovate
  .github/dependabot.yml
  .github/workflows/dependabot-prs.yml
  renovate.json
Labels: integration, ci

chore: update version to 0.7.2 and sync changelog
  CHANGELOG.md
  custom_components/autopi/manifest.json
  docs/changelog.md
Labels: integration, manifest, documentation

Auto stash before rebase of "main" onto "origin/main"
  .pre-commit-config.yaml
  custom_components/autopi/config_flow.py
  custom_components/autopi/coordinator.py
  hacs.json
  pyproject.toml
  tests/test_coordinator.py
  todo.txt
Labels: integration, config-flow, coordinator, test, ci, dependencies, hacs, config, build

chore(ci): remove AI-powered issue summarization workflow
  .github/workflows/summary.yml
Labels: integration, ci

chore: update dependencies and pre-commit configuration
  .gitattributes
  .pre-commit-config.yaml
  custom_components/autopi/client.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/manifest.json
  pyproject.toml
  uv.lock
Labels: integration, manifest, ci, dependencies, config, build

test: add comprehensive test suite for integration components
  tests/conftest.py
  tests/fixtures/empty_vehicles_response.json
  tests/fixtures/fleet_alerts_response.json
  tests/fixtures/position_response.json
  tests/fixtures/trips_response.json
  tests/fixtures/vehicle_profile_response.json
  tests/test_binary_sensor_new.py
  tests/test_config_flow.py
  tests/test_options_flow.py
  tests/test_sensor_new.py
Labels: integration, test

chore: replace manual workflows with release-please automation
  .devcontainer.json
  .editorconfig
  .github/workflows/generate-release-notes.yml
  .github/workflows/manual-changelog-update.yml
  .github/workflows/release-please.yml
  .github/workflows/update-version.yml
  .release-please-config.json
  .release-please-manifest.json
  pyproject.toml
  renovate.json
  scripts/develop
  scripts/lint
  scripts/setup
Labels: integration, ci, dependencies, config, build

chore(deps): update project dependencies and configurations
  pyproject.toml
  scripts/develop
  scripts/lint
  scripts/setup
  uv.lock
Labels: integration, dependencies, config, build

chore(deps): update development dependencies and tooling
  .devcontainer.json
  pyproject.toml
  uv.lock
Labels: integration, dependencies, config, build

docs: add comprehensive integration documentation and enhance SEO
  AGENTS.md
  docs/assets/social-card.png
  docs/index.md
  docs/javascripts/seo.js
  docs/overrides/main.html
  docs/robots.txt
  mkdocs.yml
  todos.txt
Labels: integration, documentation

.github/labeler.yml:

# Configuration for the PR labeler
# https://github.com/actions/labeler

# Core integration files
integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/**'
      - '!custom_components/autopi/README.md'

# Sensor platform
sensor:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/sensor.py'
      - 'custom_components/autopi/binary_sensor.py'

# Configuration flow
config-flow:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/config_flow.py'
      - 'custom_components/autopi/strings.json'

# Core coordinator and hub
coordinator:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/coordinator.py'
      - 'custom_components/autopi/__init__.py'

# Events and buttons
events:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/events.py'
      - 'custom_components/autopi/button.py'

# Constants and utilities
constants:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/const.py'
      - 'custom_components/autopi/utils.py'

# Manifest and metadata
manifest:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/manifest.json'
      - 'custom_components/autopi/icons.json'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - 'README.md'
      - 'CHANGELOG.md'

# Tests
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - 'conftest.py'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'uv.lock'
      - 'requirements*.txt'

# HACS
hacs:
  - changed-files:
    - any-glob-to-any-file:
      - 'hacs.json'

# Configuration files
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.gitignore'
      - 'pyproject.toml'

# Build and development
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.pre-commit-config.yaml'
      - 'pyproject.toml'
