Repository rknightion/autopi-ha, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, sensor, config-flow, coordinator, events, constants, manifest, documentation, test, ci, dependencies, hacs, config, build

chore: update dependencies and add AI chat functionality
  uv.lock
Labels: integration, dependencies

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: integration, ci

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: integration, ci

Auto stash before merge of "main" and "origin/renovate/actions-checkout-6.x"
  .github/workflows/issue-triage.yml
Labels: integration, ci

remove claude for PRs
  .github/workflows/claude.yml
Labels: integration, ci

actually remove claude PR
  .github/workflows/claude-code-review.yml
Labels: integration, ci

docs: update installation instructions for HACS default store
  README.md
  docs/faq.md
  docs/getting-started.md
  docs/installation.md
Labels: integration, documentation

feat: add enhanced startup logging with configuration summary
  custom_components/autopi/__init__.py
Labels: integration, coordinator

refactor: reduce log verbosity by changing info to debug level
  custom_components/autopi/__init__.py
  custom_components/autopi/auto_zero.py
  custom_components/autopi/client.py
  custom_components/autopi/config_flow.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/event.py
  custom_components/autopi/sensor.py
Labels: integration, sensor, config-flow, coordinator

chore: add config/ directory to gitignore
  .gitignore
Labels: integration, config

chore: update project dependencies
  pyproject.toml
  uv.lock
Labels: integration, dependencies, config, build

feat(autopi): add fleet sensors & events
  .github/workflows/trigger-docs-sync.yml
  README.md
  custom_components/autopi/__init__.py
  custom_components/autopi/binary_sensor.py
  custom_components/autopi/client.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/data_field_sensors.py
  custom_components/autopi/event.py
  custom_components/autopi/position_sensors.py
  custom_components/autopi/sensor.py
  custom_components/autopi/types.py
  mkdocs.yml
  package.json
  pyproject.toml
  tests/conftest.py
  tests/test_binary_sensor_new.py
  tests/test_coordinator.py
  tests/test_data_field_sensors.py
  tests/test_position_sensors.py
  tests/test_sensor_new.py
  todos.txt
  uv.lock
  wrangler.toml
Labels: integration, sensor, coordinator, constants, documentation, test, ci, dependencies, config, build

fix: handle 404 errors gracefully in coordinator
  custom_components/autopi/coordinator.py
Labels: integration, coordinator

style: convert list bullets from hyphens to spaces
  custom_components/autopi/CLAUDE.md
  custom_components/autopi/entities/CLAUDE.md
Labels: integration, documentation

refactor: extract endpoint support tracking
  custom_components/autopi/coordinator.py
Labels: integration, coordinator

ci: update pre-commit hook versions
  .pre-commit-config.yaml
Labels: integration, ci, build

feat: add unsupported endpoint logging
  custom_components/autopi/__init__.py
Labels: integration, coordinator

test: update tests for endpoint support
  tests/test_binary_sensor_new.py
  tests/test_events.py
  tests/test_init.py
  tests/test_sensor_new.py
Labels: integration, test

fix: improve API error handling and logging
  custom_components/autopi/__init__.py
  custom_components/autopi/client.py
  custom_components/autopi/const.py
  custom_components/autopi/coordinator.py
  custom_components/autopi/types.py
Labels: integration, coordinator, constants

feat: integrate endpoint support in entities
  custom_components/autopi/binary_sensor.py
  custom_components/autopi/event.py
  custom_components/autopi/sensor.py
Labels: integration, sensor

feat: add endpoint support methods to coordinator
  custom_components/autopi/coordinator.py
Labels: integration, coordinator

docs: add new entities
  docs/entities.md
Labels: integration, documentation

chore: fix docs
  docs/overrides/main.html
Labels: integration, documentation

docs: enhance entity reference with comprehensive documentation
  docs/entities.md
  docs/overrides/main.html
  scripts/generate_docs.py
Labels: integration, documentation

chore: fix docbuild
  docs/overrides/main.html
Labels: integration, documentation

chore: docs
  mkdocs.yml
Labels: integration

chore: doc
  README.md
  mkdocs.yml
Labels: integration, documentation

style: format manifest.json consistently
  custom_components/autopi/manifest.json
Labels: integration, manifest

docs: update config docs for accelerometer feature
  docs/configuration.md
Labels: integration, documentation

chore: replace mkdocs with zensical config
  mkdocs.yml
  zensical.toml
Labels: integration

feat: add accelerometer suppression when stationary
  custom_components/autopi/const.py
  custom_components/autopi/data_field_sensors.py
Labels: integration, constants

chore: add secrets baseline for security scanning
  .gitignore
  .secrets.baseline
Labels: integration, config

feat: add UI config for accelerometer suppression
  custom_components/autopi/config_flow.py
Labels: integration, config-flow

feat: add UI strings for accelerometer suppression
  custom_components/autopi/strings.json
  custom_components/autopi/translations/en.json
Labels: integration, config-flow

ci: restrict docs sync trigger to docs-related path changes
  .github/workflows/trigger-docs-sync.yml
Labels: integration, ci

seo: add page metadata and AI crawler rules
  docs/.meta.yml
  docs/robots.txt
Labels: integration, documentation

chore: automerge Renovate vulnerability-fix PRs
  renovate.json
Labels: integration

fix(docs): remove glightbox slide_effect option (rejected by zensical 0.0.44)
  zensical.toml
Labels: integration

ci: harden GitHub Actions workflows (zizmor)
  .github/workflows/codeql.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release-please.yml
  .github/workflows/tests.yml
  .github/workflows/trigger-docs-sync.yml
Labels: integration, ci

ci: pin issue-triage to the sonnet model
  .github/workflows/issue-triage.yml
Labels: integration, ci

.github/labeler.yml:

# Configuration for the PR labeler
# https://github.com/actions/labeler

# Core integration files
integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/**'
      - '!custom_components/autopi/README.md'

# Sensor platform
sensor:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/sensor.py'
      - 'custom_components/autopi/binary_sensor.py'

# Configuration flow
config-flow:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/config_flow.py'
      - 'custom_components/autopi/strings.json'

# Core coordinator and hub
coordinator:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/coordinator.py'
      - 'custom_components/autopi/__init__.py'

# Events and buttons
events:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/events.py'
      - 'custom_components/autopi/button.py'

# Constants and utilities
constants:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/const.py'
      - 'custom_components/autopi/utils.py'

# Manifest and metadata
manifest:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/autopi/manifest.json'
      - 'custom_components/autopi/icons.json'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - 'README.md'
      - 'CHANGELOG.md'

# Tests
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - 'conftest.py'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'uv.lock'
      - 'requirements*.txt'

# HACS
hacs:
  - changed-files:
    - any-glob-to-any-file:
      - 'hacs.json'

# Configuration files
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.gitignore'
      - 'pyproject.toml'

# Build and development
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.pre-commit-config.yaml'
      - 'pyproject.toml'
